# Storages
system_storages/ml-storages/face-rec

# Logs file
system_logs/api-services-logs/*.log
system_logs/celery_logs/workers.log

# env file
.env-dev

# 1. service web-api
api_services/app/logs
api_services/app/storages
api_services/app/redis_storages
api_services/app/environment-dev.ini

# 2. service celery-worker
celery_worker/app/logs
celery_worker/app/storages
celery_worker/app/environment-dev.ini
celery_worker/app/worker/ml/models_weights/face_recognition

# 3. service flower
