model_config_list {
  config {
    name: 'face_recognition'
    base_path: '/models/face_recognition/'
    model_platform: 'tensorflow'
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
  config {
    name: 'model_test'
    base_path: '/models/model_test/'
    model_platform: 'tensorflow'
    model_version_policy {
      specific {
        versions: 123
      }
    }
  }
}
